.wrapper-information-user {
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.wrapper-information-user img {
    margin: 0 auto;
}

.wrapper-information-user > ul,
.section-history ul {
    list-style: none;
    padding: 0;
    font-style: 12px !important;
}

ul.action_admin_with_user,
.section-history ul {
    list-style: none;
}

.section-history > p {
    font-size: 16px;
    font-weight: bold;
}

ul.action_admin_with_user li {
    display: inline-block;
}

.section-history .label {
    font-size: 12px;
    margin-right: 8px;
    font-weight: bold;
}

.secction-category,
.section-words {
    padding-bottom: 15px;
    border-bottom: 1px dotted #000;
}

.secction-category:last-of-type,
.section-words:last-of-type {
    border: none;
}

.secction-category .col-md-2 > a {
    margin-top: 25px;
    margin-left: 15px;
}

.section-words .section-answer .radio > label {
    padding-right: 20px;
}

.section-words .section-answer .radio > label.is-correct {
    background: url(../images/tye-tick.png) right center no-repeat;
}

.section-words .section-answer .radio > label.not-correct {
    background: url(../images/tye-cross.png) right center no-repeat;
}

.group-radio .checkbox-inline {
    margin-top: 8px;
    margin-left: 10px;
}

.word-list {
    margin-top: 10px;
}

.word-list .section-filter-words .word-show {
    font-size: 20px;
    color: #22558a;
    font-weight: 500;
    margin: 0;
}

.word-list .section-filter-words .answer-show {
    color: #636b6f;
    font-style: italic;
    font-size: 15px;
}

.word-list .section-filter-words li {
    display: inline-block;
    margin-right: 10px;
}

.section-alpha h1 {
    margin-bottom: 0;
    border-bottom: 1px solid #787878;
}

.profile-user {
    overflow: auto;
    position: relative;
    margin-bottom: 20px;
}

.profile-user > img {
    max-width: 130px;
    height: 130px;
    float: left;
}

.profile-user .info-user {
    float: left;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-user .info-user > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-user .info-user ul.info-detail {
    list-style: none;
    padding: 0;
}

.profile-user .info-user > .btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.loading {
    display: none;
}

.wrapper-information-user > img {
    height: 100px;
    max-width: 100px;
}

.wrapper-manger-words {
    background-color: #fff;
    padding-bottom: 100px;
}

.header-tablde {
    overflow: auto;
    margin-bottom: 30px;
}

.wrapper-manger-words .header-tablde .page-header {
    float: left;
    margin: 0 0 15px 0;
    padding-top: 10px;
    padding-bottom: 0;
}

.wrapper-manger-words .header-tablde .page-header h1 {
    margin-top: 0;
}

.wrapper-manger-words .header-tablde .action-word {
    float: right;
    padding-top: 15px;
}

#form-create-words .form-group {
    position: relative;
}

#form-create-words input[type=checkbox] {
    position: absolute;
    right: -6px;
    top: 10px;
}

#form-create-words select {
    width: auto;
    margin-left: 15px;
    display: initial;
}

.delete-answer {
    margin-right: 16px;
    background-color: #C83A36;
    color: #fff;
    pointer-events: auto;
    cursor: pointer;
}

.delete-answer:hover {
    background-color: red;
}

.ctz-body {
    padding: 40px;
}

.container {
    background: #fff;
}

.form-delete-words {
    display: inline-block;
}

@media only screen and (max-width: 992px) {
    .secction-category .col-md-2 > a {
        margin: 0;
    }
}
